## 1. 라이브러리, 데이터 로드

In [1]:
import pandas as pd
import numpy as np

### 서울 데이터

In [2]:
seoul_apt = pd.read_csv('./데이터/서울/통합본/서울_아파트_통합.csv', encoding='cp949')
seoul_op = pd.read_csv('./데이터/서울/통합본/서울_오피스텔_통합.csv', encoding='cp949')
seoul_multi = pd.read_csv('./데이터/서울/통합본/서울_다세대_통합.csv', encoding='cp949')

FileNotFoundError: [Errno 2] No such file or directory: './데이터/서울/통합본/서울_아파트_통합.csv'

### 경기도 데이터

In [157]:
gg_apt = pd.read_csv('./데이터/경기도/통합본/경기도_아파트_통합.csv', encoding='cp949')
gg_op = pd.read_csv('./데이터/경기도/통합본/경기도_오피스텔_통합.csv', encoding='cp949')
gg_multi = pd.read_csv('./데이터/경기도/통합본/경기도_다세대_통합.csv', encoding='cp949')

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9820\2416928383.py:1: DtypeWarning: Columns (2,10,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  gg_apt = pd.read_csv('./데이터/경기도/통합본/경기도_아파트_통합.csv', encoding='cp949')
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9820\2416928383.py:2: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  gg_op = pd.read_csv('./데이터/경기도/통합본/경기도_오피스텔_통합.csv', encoding='cp949')
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9820\2416928383.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  gg_multi = pd.read_csv('./데이터/경기도/통합본/경기도_다세대_통합.csv', encoding='cp949')

### 금리

In [158]:
rate = pd.read_csv('./데이터/한국은행 기준금리 및 여수신금리_27112307.csv')

### KOSPI

In [159]:
kospi = pd.read_csv('./데이터/kospi/코스피지수 과거 데이터 (1).csv', encoding = 'utf-8')

# 2. 서울, 경기도 데이터 병합

- 서울 아파트, 오피스텔, 다세대 주택을 구분하기 위해 '구분'이라는 컬럼을 추가해줌

In [160]:
seoul_apt['구분'] = '아파트'
seoul_op['구분'] = '오피스텔'
seoul_multi['구분'] = '연립다세대'

In [161]:
seoul_ = pd.concat([seoul_apt, seoul_op, seoul_multi])

In [162]:
seoul_.head()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),...,층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원),구분,건물명
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201401,21,"33,000",...,2.0,1988.0,언주로 103,-,-,-,NaN,NaN,아파트,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201405,9,"39,000",...,9.0,1988.0,언주로 103,-,-,-,NaN,NaN,아파트,NaN
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201405,18,"33,000",...,1.0,1988.0,언주로 103,-,-,-,NaN,NaN,아파트,NaN
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201406,24,"35,000",...,9.0,1988.0,언주로 103,-,-,-,NaN,NaN,아파트,NaN
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201407,31,"37,000",...,3.0,1988.0,언주로 103,-,-,-,NaN,NaN,아파트,NaN

- 경기 아파트, 오피스텔, 다세대 주택을 구분하기 위해 '구분'이라는 컬럼을 추가해줌

In [163]:
gg_apt['구분'] = '아파트'
gg_op['구분'] = '오피스텔'
gg_multi['구분'] = '연립다세대'

In [164]:
gg_ = pd.concat([gg_apt, gg_op, gg_multi])

In [165]:
gg_.head()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),...,층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원),구분,건물명
0,경기도 가평군 가평읍 달전리,281,281,0,세대넥스빌,전세,122.28,201701,5,"6,000",...,1.0,1996.0,달전로 59,-,-,-,NaN,NaN,아파트,NaN
1,경기도 가평군 가평읍 달전리,281,281,0,세대넥스빌,전세,122.28,201704,11,"9,000",...,1.0,1996.0,달전로 59,-,-,-,NaN,NaN,아파트,NaN
2,경기도 가평군 가평읍 달전리,281,281,0,세대넥스빌,전세,122.28,201705,29,"9,000",...,1.0,1996.0,달전로 59,-,-,-,NaN,NaN,아파트,NaN
3,경기도 가평군 가평읍 달전리,281,281,0,세대넥스빌,전세,58.95,201707,4,"4,000",...,9.0,1996.0,달전로 59,-,-,-,NaN,NaN,아파트,NaN
4,경기도 가평군 가평읍 달전리,281,281,0,세대넥스빌,월세,59.88,201708,23,"1,500",...,15.0,1996.0,달전로 59,-,-,-,NaN,NaN,아파트,NaN

# 3. 금리 데이터 처리

In [166]:
rate.head(n=5)
rate = rate.drop(['통계표','단위','변환'], axis=1)
rate = rate.rename(columns={'계정항목':'날짜'}).transpose()
rate.reset_index(inplace=True)
rate.columns = ['날짜','한국은행기준금리']
rate = rate.drop(rate.index[0])
rate['날짜'] = rate['날짜'].str.replace('/','').astype('int64')

In [167]:
rate.head()

       날짜 한국은행기준금리
1  202303      3.5
2  202302      3.5
3  202301      3.5
4  202212     3.25
5  202211     3.25

# 4. KOSPI 데이터 처리

In [168]:
kospi['날짜'] = kospi['날짜'].str.replace('-','')
kospi['날짜'] = kospi['날짜'].str.replace(' ','')
kospi['날짜'] = kospi['날짜'].str[:6].astype('int64')

In [169]:
kospi.head()

       날짜        종가        시가        고가        저가     거래량     변동 %
0  202301  2,425.08  2,249.95  2,497.40  2,180.67   9.42B    8.44%
1  202212  2,236.40  2,501.43  2,501.43  2,236.38   8.44B   -9.55%
2  202211  2,472.53  2,301.58  2,499.43  2,296.44  12.75B    7.80%
3  202210  2,293.61  2,189.51  2,295.51  2,162.87  11.77B    6.41%
4  202209  2,155.49  2,443.00  2,453.95  2,134.77   9.38B  -12.81%

# 5. 금리, KOSPI 데이터와 서울, 금리, KOSPI 데이터와 경기도 병합

In [170]:
seoul_ = pd.merge(seoul_, rate, left_on='계약년월', right_on='날짜').drop(['날짜'],axis=1)
seoul_ = pd.merge(seoul_, kospi, left_on='계약년월', right_on='날짜').drop(['날짜'],axis=1)

In [171]:
gg_ = pd.merge(gg_, rate, left_on="계약년월", right_on='날짜').drop(['날짜'], axis=1)
gg_ = pd.merge(gg_, kospi, left_on='계약년월', right_on='날짜').drop(['날짜'],axis=1)

# 6. 서울 데이터 전처리

In [172]:
seoul_['보증금(만원)'] = seoul_['보증금(만원)'].astype('str')
seoul_['월세(만원)'] = seoul_['월세(만원)'].astype('str')
seoul_['보증금(만원)'] = seoul_['보증금(만원)'].str.replace(',','').astype('int64')
seoul_['월세(만원)'] = seoul_['월세(만원)'].str.replace(',','').astype('int64')
seoul_['계약년월'] = seoul_['계약년월'].astype('str')
seoul_['년도'] = seoul_['계약년월'].str[0:4].astype('int64')
seoul_['월'] = seoul_['계약년월'].str[4:].astype('int64')
seoul_ = seoul_.drop(['계약년월'],axis=1)

In [173]:
# 처리해야됨
# seoul_.loc[seoul_['층'] >= 100, '층'] = seoul_['층'].astype(str).str[0].astype(int)

In [174]:
# 100 넘는거 처리할지 버릴지 고민중 (4개)

seoul_ = seoul_[seoul_['전용면적(㎡)'] != 0]
seoul_ = seoul_[seoul_['월세(만원)'] >= 0]
seoul_ = seoul_[seoul_['층'] < 100]

In [175]:
splited = seoul_['시군구'].str.split(' ', expand=True)
splited.columns = ['시/도','시/군/구','동']
seoul_=pd.concat([seoul_,splited], axis=1)
s_col1=seoul_.columns[-3:].to_list()
s_col2=seoul_.columns[:-3].to_list()
seoul_=seoul_[s_col1+s_col2]
seoul_ = seoul_.drop(['시군구'],axis=1)

In [176]:
seoul_new = seoul_

In [177]:
seoul_new['년도'] = seoul_new['년도'].astype('float')
seoul_new['건물나이'] = seoul_new['년도'] - seoul_new['건축년도']
seoul_new = seoul_new.drop(['건축년도'], axis=1)

In [178]:
seoul_new.loc[seoul_new['건물나이'] <= 0, '건물나이'] = 0

In [179]:
seoul_new = seoul_new.drop(['번지','본번','부번'], axis=1)

In [180]:
seoul_new['종가'] = seoul_new['종가'].astype('str')
seoul_new['종가'] = seoul_new['종가'].str.replace(',','').astype('float')

In [181]:
seoul_new = seoul_new.drop(['종전계약 보증금 (만원)', '종전계약 월세 (만원)', '건물명', '계약일','도로명', '단지명', '시/도','월','계약기간','계약구분','갱신요구권 사용','시가', '고가', '저가', '거래량', '변동 %'],axis=1)

In [182]:
seoul_new.head()

,시/군/구,동,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이
0,강남구,개포동,전세,77.75,33000,0,2.0,아파트,2.5,1941.15,2014.0,26.0
1,강남구,개포동,전세,79.97,34000,0,2.0,아파트,2.5,1941.15,2014.0,27.0
2,강남구,개포동,전세,79.97,28000,0,1.0,아파트,2.5,1941.15,2014.0,27.0
3,강남구,개포동,전세,79.97,35000,0,2.0,아파트,2.5,1941.15,2014.0,27.0
4,강남구,개포동,월세,104.43,40000,40,8.0,아파트,2.5,1941.15,2014.0,30.0

In [183]:
seoul_new.describe()

,전용면적(㎡),보증금(만원),월세(만원),층,종가,년도,건물나이
count,3.604936e+06,3.604936e+06,3.604936e+06,3.604936e+06,3.604936e+06,3.604936e+06,3.591649e+06
mean,5.968900e+01,2.463475e+04,2.367545e+01,7.100301e+00,2.262469e+03,2.017242e+03,1.413906e+01
std,3.099192e+01,2.411777e+04,5.013110e+01,5.693096e+00,3.730606e+02,3.487405e+00,1.075793e+01
min,1.000000e+00,0.000000e+00,0.000000e+00,-6.000000e+00,1.754640e+03,2.011000e+03,0.000000e+00
25%,3.510000e+01,8.000000e+03,0.000000e+00,3.000000e+00,1.994960e+03,2.014000e+03,5.000000e+00
50%,5.928000e+01,1.900000e+04,0.000000e+00,5.000000e+00,2.108330e+03,2.018000e+03,1.200000e+01
75%,8.457000e+01,3.300000e+04,4.000000e+01,1.000000e+01,2.445850e+03,2.020000e+03,2.200000e+01
max,4.451200e+02,1.100000e+06,4.000000e+03,6.900000e+01,3.296680e+03,2.022000e+03,8.900000e+01

In [184]:
seoul_new.isnull().sum()

시/군/구           0
동               0
전월세구분           0
전용면적(㎡)         0
보증금(만원)         0
월세(만원)          0
층               0
구분              0
한국은행기준금리        0
종가              0
년도              0
건물나이        13287
dtype: int64

In [185]:
seoul_new = seoul_new.dropna()

# 7. 경기도 데이터 전처리

In [186]:
gg_['보증금(만원)'] = gg_['보증금(만원)'].astype('str')
gg_['월세(만원)'] = gg_['월세(만원)'].astype('str')
gg_['보증금(만원)'] = gg_['보증금(만원)'].str.replace(',','').astype('int64')
gg_['월세(만원)'] = gg_['월세(만원)'].str.replace(',','').astype('int64')
gg_['계약년월'] = gg_['계약년월'].astype('str')
gg_['년도'] = gg_['계약년월'].str[0:4].astype('int64')
gg_['월'] = gg_['계약년월'].str[4:].astype('int64')
gg_ = gg_.drop(['계약년월'],axis=1)

In [187]:
gg_ = gg_[gg_['전용면적(㎡)'] != 0]
gg_ = gg_[gg_['월세(만원)'] >= 0]

In [188]:
splited_2 = gg_['시군구'].str.split(' ', expand=True)
splited_2.columns = ['시/도','시/군/구','동','리']
gg_=pd.concat([gg_,splited_2], axis=1)
col1=gg_.columns[-3:].to_list()
col2=gg_.columns[:-3].to_list()
gg_=gg_[col1+col2]
gg_ = gg_.drop(['시군구','리'],axis=1)

In [189]:
gg_new = gg_

In [190]:
gg_new = gg_new.drop(['종전계약 보증금 (만원)', '종전계약 월세 (만원)','건물명', '계약일','도로명', '단지명', '시/도','월','계약기간','계약구분','갱신요구권 사용','시가', '고가', '저가', '거래량', '변동 %'],axis=1)

In [191]:
gg_new['년도'] = gg_new['년도'].astype('float')
gg_new['건물나이'] = gg_new['년도'] - gg_new['건축년도']
gg_new = gg_new.drop(['건축년도'], axis=1)

In [192]:
gg_new.loc[gg_new['건물나이'] <= 0, '건물나이'] = 0

In [193]:
gg_new = gg_new.drop(['번지','본번','부번'],axis=1)

In [194]:
gg_new['종가'] = gg_new['종가'].astype('str')
gg_new['종가'] = gg_new['종가'].str.replace(',','').astype('float')

In [195]:
gg_new.head()

,시/군/구,동,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이
0,가평군,가평읍,전세,122.280,6000,0,1.0,아파트,1.25,2067.57,2017.0,21.0
1,가평군,가평읍,월세,64.850,1000,60,9.0,아파트,1.25,2067.57,2017.0,9.0
2,가평군,가평읍,전세,84.987,10000,0,10.0,아파트,1.25,2067.57,2017.0,10.0
3,가평군,가평읍,월세,39.510,920,16,6.0,아파트,1.25,2067.57,2017.0,18.0
4,가평군,가평읍,월세,41.050,1475,8,3.0,아파트,1.25,2067.57,2017.0,7.0

In [196]:
gg_new.describe()

,전용면적(㎡),보증금(만원),월세(만원),층,종가,년도,건물나이
count,3.665273e+06,3.665278e+06,3.665278e+06,3.654737e+06,3.665278e+06,3.665278e+06,3.651785e+06
mean,6.569844e+01,1.602883e+04,1.778252e+01,8.433108e+00,2.265553e+03,2.017295e+03,1.308398e+01
std,2.871613e+01,1.491924e+04,3.212564e+01,6.416157e+00,3.763323e+02,3.541972e+00,9.450083e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,-2.000000e+00,1.754640e+03,2.011000e+03,0.000000e+00
25%,4.587000e+01,4.399000e+03,0.000000e+00,3.000000e+00,1.994960e+03,2.014000e+03,4.000000e+00
50%,5.994900e+01,1.260000e+04,0.000000e+00,7.000000e+00,2.108330e+03,2.018000e+03,1.200000e+01
75%,8.489000e+01,2.300000e+04,3.000000e+01,1.200000e+01,2.451500e+03,2.021000e+03,2.100000e+01
max,9.465600e+02,2.700000e+05,1.900000e+03,3.030000e+02,3.296680e+03,2.022000e+03,7.900000e+01

In [197]:
gg_new.isnull().sum()

시/군/구           0
동               0
전월세구분           0
전용면적(㎡)         5
보증금(만원)         0
월세(만원)          0
층           10541
구분              0
한국은행기준금리        0
종가              0
년도              0
건물나이        13493
dtype: int64

In [198]:
gg_new = gg_new.dropna()

# 8. 서울 데이터 인코딩

In [199]:
seoul_df = seoul_new
gg_df = gg_new

In [200]:
seoul_df.loc[seoul_df['전월세구분']=='전세','전월세구분'] = 0
seoul_df.loc[seoul_df['전월세구분']=='월세','전월세구분'] = 1

In [201]:
seoul_df.loc[seoul_df['구분']=='아파트','구분'] = 0
seoul_df.loc[seoul_df['구분']=='오피스텔','구분'] = 1
seoul_df.loc[seoul_df['구분']=='연립다세대','구분'] = 2

In [202]:
# 서울 시/군/구 Label Encoding
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(seoul_df['시/군/구'])

seoul_df["시군구_Encoder"] = encoder.transform(seoul_df['시/군/구'])
seoul_df.head()

,시/군/구,동,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이,시군구_Encoder
0,강남구,개포동,0,77.75,33000,0,2.0,0,2.5,1941.15,2014.0,26.0,0
1,강남구,개포동,0,79.97,34000,0,2.0,0,2.5,1941.15,2014.0,27.0,0
2,강남구,개포동,0,79.97,28000,0,1.0,0,2.5,1941.15,2014.0,27.0,0
3,강남구,개포동,0,79.97,35000,0,2.0,0,2.5,1941.15,2014.0,27.0,0
4,강남구,개포동,1,104.43,40000,40,8.0,0,2.5,1941.15,2014.0,30.0,0

In [203]:
# 서울_동 label encoding

encoder.fit(seoul_df['동'])

seoul_df["동_Encoder"] = encoder.transform(seoul_df['동'])
seoul_df.head()

,시/군/구,동,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이,시군구_Encoder,동_Encoder
0,강남구,개포동,0,77.75,33000,0,2.0,0,2.5,1941.15,2014.0,26.0,0,9
1,강남구,개포동,0,79.97,34000,0,2.0,0,2.5,1941.15,2014.0,27.0,0,9
2,강남구,개포동,0,79.97,28000,0,1.0,0,2.5,1941.15,2014.0,27.0,0,9
3,강남구,개포동,0,79.97,35000,0,2.0,0,2.5,1941.15,2014.0,27.0,0,9
4,강남구,개포동,1,104.43,40000,40,8.0,0,2.5,1941.15,2014.0,30.0,0,9

In [204]:
s_coll=seoul_df.columns[-2:].to_list()
s_coll2=seoul_df.columns[:-2].to_list()
seoul_df=seoul_df[s_coll+s_coll2]
seoul_df = seoul_df.drop(['시/군/구','동'],axis=1)

In [205]:
seoul_df.head()

,시군구_Encoder,동_Encoder,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이
0,0,9,0,77.75,33000,0,2.0,0,2.5,1941.15,2014.0,26.0
1,0,9,0,79.97,34000,0,2.0,0,2.5,1941.15,2014.0,27.0
2,0,9,0,79.97,28000,0,1.0,0,2.5,1941.15,2014.0,27.0
3,0,9,0,79.97,35000,0,2.0,0,2.5,1941.15,2014.0,27.0
4,0,9,1,104.43,40000,40,8.0,0,2.5,1941.15,2014.0,30.0

# 9. 경기도 데이터 인코딩

In [206]:
gg_df.loc[gg_df['전월세구분']=='전세','전월세구분'] = 0
gg_df.loc[gg_df['전월세구분']=='월세','전월세구분'] = 1

In [207]:
gg_df.loc[gg_df['구분']=='아파트','구분'] = 0
gg_df.loc[gg_df['구분']=='오피스텔','구분'] = 1
gg_df.loc[gg_df['구분']=='연립다세대','구분'] = 2

In [208]:
# 경기 시/군/구 label encoding
encoder.fit(gg_df['시/군/구'])

gg_df["시군구_Encoder"] = encoder.transform(gg_df['시/군/구'])
gg_df.head()

,시/군/구,동,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이,시군구_Encoder
0,가평군,가평읍,0,122.280,6000,0,1.0,0,1.25,2067.57,2017.0,21.0,0
1,가평군,가평읍,1,64.850,1000,60,9.0,0,1.25,2067.57,2017.0,9.0,0
2,가평군,가평읍,0,84.987,10000,0,10.0,0,1.25,2067.57,2017.0,10.0,0
3,가평군,가평읍,1,39.510,920,16,6.0,0,1.25,2067.57,2017.0,18.0,0
4,가평군,가평읍,1,41.050,1475,8,3.0,0,1.25,2067.57,2017.0,7.0,0

In [209]:
# 경기_동 label encoding

encoder.fit(gg_df['동'])

gg_df["동_Encoder"] = encoder.transform(gg_df['동'])
gg_df.head()

,시/군/구,동,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이,시군구_Encoder,동_Encoder
0,가평군,가평읍,0,122.280,6000,0,1.0,0,1.25,2067.57,2017.0,21.0,0,8
1,가평군,가평읍,1,64.850,1000,60,9.0,0,1.25,2067.57,2017.0,9.0,0,8
2,가평군,가평읍,0,84.987,10000,0,10.0,0,1.25,2067.57,2017.0,10.0,0,8
3,가평군,가평읍,1,39.510,920,16,6.0,0,1.25,2067.57,2017.0,18.0,0,8
4,가평군,가평읍,1,41.050,1475,8,3.0,0,1.25,2067.57,2017.0,7.0,0,8

In [210]:
g_coll=gg_df.columns[-2:].to_list()
g_coll2=gg_df.columns[:-2].to_list()
gg_df = gg_df[s_coll+s_coll2]
gg_df = gg_df.drop(['시/군/구','동'],axis=1)

In [211]:
gg_df.head()

,시군구_Encoder,동_Encoder,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,구분,한국은행기준금리,종가,년도,건물나이
0,0,8,0,122.280,6000,0,1.0,0,1.25,2067.57,2017.0,21.0
1,0,8,1,64.850,1000,60,9.0,0,1.25,2067.57,2017.0,9.0
2,0,8,0,84.987,10000,0,10.0,0,1.25,2067.57,2017.0,10.0
3,0,8,1,39.510,920,16,6.0,0,1.25,2067.57,2017.0,18.0
4,0,8,1,41.050,1475,8,3.0,0,1.25,2067.57,2017.0,7.0